.user__body {
    display: flex;
    gap: 70px;
    margin-top: 20px;
    color: grey;
}

.user__image img {
    width: 150px;
    height: 150px;
}

.description__item {
    font-size: 17px;
}

.desk_name {
    font-size: 25px;
    margin-bottom: 25px;
}