.title {
    font-size: 25px;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
}

.holder {
    display: grid;
    grid-template-columns: .4fr 1fr;
}

.left_side {
    position: relative;
}

.left_side::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 1.5px;
    height: 100%;
    background-color: purple;
}

.right_side {
    margin-left: 10%;
}